.block {
  border-radius: 16px;
  margin: 16px auto;
  background: linear-gradient( #cacad6, #FFFFFF);
  box-shadow: inset 0px 40px 40px #FFFFFF;
  padding-bottom: 2px;
  font-family: eurostile-extended, sans-serif;

  @include bp(sm) {
    max-width: 100%;
    margin: 40px auto;
    padding-bottom: 4px;

  }
  @include bp(md) {
    margin: 80px auto;
  }
} 
.content {
  border-radius: 14px;
  margin: 0 2px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  flex: 1;
  padding: 16px;
  background: linear-gradient(#ffffff, #A3A3AD);
  box-shadow: inset 0px 4px 16px 4px #2e2e2e60;

  @include bp(sm) {
    padding: 40px;
    margin: 0 4px;
  }
}

.blocktitle {
  border-radius: 16px 16px 0px 0px;
  width: 100%;
  line-height: 64px;
  height: 64px;
  text-align: center;
}