.main {
  padding: 16px;
  margin: auto;
  min-height: 100vh;
  @include bp(sm) {
    max-width: 800px;
  }

  @include bp(md) {
    max-width: 960px;
  }
}

.titleimg {
  margin: 24px auto;
  @include bp(sm) {
    margin: 40px auto;
  }
  @include bp(md) {
    margin: 80px auto;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @include bp(sm) {
    grid-template-columns: repeat(4, 1fr);
  }

  > div {
    flex: 0;
    @include bp(sm) {
      transition: transform .25s;
      &:hover  {
        transform: scale(1.1);
      }
    }
  }
  p {
    font-size: 12px;
    color: white;
    font-family: eurostile-extended;
    text-align: center;
    margin-top: -40px;
    font-weight: 500;
  }

  

}

.showmore {
  color: #000 !important;
  background: #F5AF37 !important;
  border-radius: 32px !important;
  border-width: 0px !important;
  font-family: eurostile-extended !important;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 2.5;
  padding: 0 16px;
  margin: 32px auto;
  cursor: pointer;
  display: block;

  &:disabled {
    opacity: .5;
    cursor: not-allowed;
  }
}