.block {
  @include rounded;
  border-radius: 16px;

  margin: 16px auto;
  padding: 16px;
  gap: 16px;
  display: flex;
  flex-direction: column-reverse;
  background: linear-gradient(#FFFFFF, #A3A3AD);
  box-shadow: inset 0px 4px 16px 4px #2e2e2e60;
  position: relative;
  
  p {
    font-family: eurostile-extended, sans-serif;

    & + p {
      margin-top: 24px;
    }
  }

  @include bp(sm) {
    max-width: 100%;
    margin: 40px auto;
    padding: 24px;
    gap: 24px;
    flex-direction: row;
    align-items: stretch;
  }
  @include bp(md) {
    padding: 40px;
    gap: 40px;
    margin: 80px auto;
  }
} 

.blocktitle {
  background: linear-gradient(180deg, #FFFFFF 31.77%, #D9D9D9 73.96%);
  border-radius: 16px 16px 0px 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px -4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  line-height: 80px;
  text-align: center;
}

.content {
  @include rounded;
  border-radius: 16px;

  flex: 1;
  padding: 24px;
  background: rgba(242, 242, 242, 0.75);
  box-shadow: inset 0px 4px 16px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  @include bp(sm) {
    padding: 40px;
  }
}

.image {
  border-bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  img {
    @include rounded;
    border-radius: 16px;
    z-index: 2;
    height: 100%;
    border: 2px solid white !important;
    background-color: #638396;
    object-fit: contain;
  }
  p {
    padding-top: 4px;
    text-align: center;
    margin-top: -16px;
    height: 80px;
    line-height: 80px;
    background: linear-gradient(180deg, #FFFFFF 31.77%, #D9D9D9 73.96%);
    border-radius: 0px 0px 16px 16px;
    box-shadow: inset 0px -4px 4px rgba(0, 0, 0, 0.25);
  }
  @include bp(sm) {
    width:auto;
    max-width: 360px;
    object-fit: contain;

    img {
      border: 4px solid white !important;
    }
  }
}